@import "../../static/scss/colors";
@import "../../static/scss/mixin";


.menu-container {
  position: relative;
}

.menu-icon {
  position: absolute;
  top: 5px; /* Move it down */
  left: 10px;
  cursor: pointer;
  background: none; /* Remove background */
  border: none; /* Remove any border */
  box-shadow: none; /* Remove shadow */
  padding: 0; /* Remove extra spacing */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon svg {
  width: 30px; /* Adjust size if needed */
  height: 30px;
  fill: #000; /* Change to the color of your choice */
  padding-top:5px !important;
}


.menu-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 0;
  min-width: 150px;
  z-index: 9999; 
}

.menu-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background-color: #f4f4f4;
  }
}
